

.container {
    display: flex;
    background-color: rgb(86, 86, 168);
    height: 500px;
    margin: 0;
    padding: 0;
    flex-flow: column;
}

.header, ul {
    display: flex;
    font-weight: bold;
    color: white;
    font-size: 22px;
    padding-left: 160px;
    padding-right: 80px;
    justify-content: space-between;
    align-items: center;  
    font-family: Arial, Helvetica, sans-serif;
    
    
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 100;
    
}
ul {
    gap: 25px;
}
li{
    list-style: none;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    padding-top: 100px;
    gap: 40px;
    
}

.main-title {
    display: flex;
    align-items: center;
    font-size: 45px;
    font-weight: bold;
    color: white;
    width: 450px;
    font-family: Arial, Helvetica, sans-serif;
}
.subtext  {
    display: flex;
    align-items: center;
    color: white;
    width: 450px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;

}
button {
    margin-top: 8px;
    background-color: rgb(66, 99, 209);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.one, img {
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 200px;
}
.container-one {
    display: flex;
    height: 500px;
    flex-direction: column;
}
.information {
    display: flex;
    font-size: 32px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: auto;
    padding-top: 18px;
    justify-content: center;
}

.box {
    display: flex;
    justify-content: center;
    justify-content: center;
    gap: 52px;
    padding-bottom: 100px;
}
.info {
    max-width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8px;
}
.second, img {
    max-width: 200px;
    height: 200px;
    border-radius: 15px;
}
.container-three {
    display: flex;
    height: 400px;
    background-color: lightslategray;
    flex-direction: column;

}

.first-box, .second-box {
    display: flex;
    width: 550px;
    align-items: center;
    margin-left: 350px;
    justify-content: right;
    margin-top: 80px;

 
}
.text {
    font-size: 32px;
    font-weight: unset;
    width: 560px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.text-one {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.container-four {
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-one {
    display: flex;
    width: 1000px;
    height: 100px;
    background-color: rgb(44, 161, 201);
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 50px;

}
.info-one {
    font-size: 22px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.info-two {
    font-size: 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
.button2 {
    background-color: rgb(44, 161, 201);
    padding-left: 20px;
    padding-right: 20px;
}
.container-five {
    display: flex;
    background-color: rgb(68, 68, 68);
    justify-content: center;
    align-items: center;
    height: 100px;

}
.footer {
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
